body {
  padding-top: 50px;  /* Move body of page below navbar. */
  background-color: pink;
}

.page-content {
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.navbar-inverse{
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-inverse li a{
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 3px !important;
  text-shadow: none;
  font-size: 15px;
}